html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
}

/*Form*/
main form{
    /*Border*/
    border: 3px solid black;
    border-radius: 10px;
    /*General style*/
    color: black;
    background-color: white;
    padding: 2.5%;   
}
main h1{
    text-align: center;
}
main label{
    font-size: calc(1rem + 1vh);
}
.menuButton{
    width: 30vw !important;
    height: 8vh !important;
    font-size: calc(2rem + 1vh) !important;
}
.error{
    font-size: 1.25rem;
    color: red;    
}