
/*Content positioning*/
html, body{
    height: 100%;
}
main{
    height: 100%;
    width: 100%;
    /*Center flexbox*/
    display: flex;
    flex-direction: column;
    text-align: center;    
    justify-content: center;
}
/*Main menu*/
#managementMenu{    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menuForm{
    padding-top: 1vh;    
    padding-bottom: 1vh;
}

/*Title style*/
.title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}
.title h1{
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
}


/*Tables style*/
.table{
    background-color: var(--formBackground);
    /*Dimensions*/
    width: auto;
    /*Position*/
    margin: 0 auto;   
    /*Border*/
    border: 3px solid black;
    border-radius: 15px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

table{
    white-space: nowrap;
    border-collapse:collapse;
    font-size: 1rem;
    margin: 0 auto;   
}

td, th{
    padding-left: 2%;
    min-width: 100px;
}
tr:nth-child(even){
    background-color: var(--inputBG);
}
tr{
    height: 6vh;
}
/*input fields (on editing record)*/
.inputField{
    padding: 1%;
    width: 90% !important;
    height: 100% !important;
    font-size: 1rem !important;
    background-color: transparent !important;
}
input[type="text"]{
    min-width: 100px;
    max-width: min-content;
}
.inputField:focus{
    background-color: var(--inputFocus) !important;
}



/*--------BUTTONS ---------*/
/*Header buttons*/
.header, .header-unordered{
    /*Border*/
    border: 3px black solid;
    /*Colours*/
    background-color: var(--main);
    color: black;
    border-color: black;   
    /*Other*/
    padding: 0;
    text-transform: uppercase;
}
.header{
    cursor: pointer;    
}
.header:hover{
    /*Colours*/
    background-color: var(--contrast);
    color: black;
    border-color: black;
}
.header:active{
    transform: scale(0.9);
}
.headerButton{
    padding: calc(0.5vh + 0.5vw);
    height: 100%;
    width: 100%;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    border-color: transparent;
    text-transform: uppercase;
}

/*Side buttons: edit, change, delete, cancel*/
.tableButton{
    width: 100%;
    height: auto;
    padding: calc(0.5vh + 0.5vw);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: red;
}
.tableButton:hover{
    background-color: var(--contrast);
}
.tableButton:active{
    transform: scale(0.9);
}
/*Form button (menu buttons)*/
.formButton{
    margin-top: 5%;
    width: 50% !important;
}

/*---- NAVIGATION SECTION -----*/
.navigation-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navigation-container form{
    width: 30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.navigation-button{
    width: 100%;
    height: 4vh;
    line-height: 3vh;
    font-size: 1.75rem;
    /*Border*/
    border: 3px solid;
    border-radius: 15px;
    /*Colours*/
    background-color: var(--main);
    color: black;
    border-color: black;   
    /*Other*/
    cursor: pointer;
}
.navigation-button:hover{
    /*Colours*/
    background-color: var(--contrast);
    color: black;
    border-color: black;
}
