:root{
    --font-size: calc(1rem + 0.75vh);
}

html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    background: unset;
}
/*---- GRID STRUCTURE -----*/
body{
    display: grid;
    grid-template-rows: 10% auto;
    grid-template-columns: 30% auto;
}
header{
    background-color: brown;
    grid-column: 1/ span 2;
    /*Flexbox*/
    display: flex;
    flex-direction: row;
    /*borders*/
    border-bottom: 3px black solid;
}
aside{
    background-color: #D5D7FF;
    padding: 5%;
    /*borders*/
    border-right: 3px black solid;
}
/*---------- HEADER SECTION ----------*/
header{
    background-color: black;
    color: white;
}
#header-container{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.header-section{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.header-section h1{
    margin: 0;
    color: var(--main);
}
.header-section form{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
#menuButton{
    justify-content: flex-start;
}
#resetButton{
    justify-content: flex-end;
}

.header-button{
    height: 90%;
    /*Dimensions*/
    font-size: calc(2rem + 1vh);
    font-weight: bold;
    /*Colours*/
    background-color: var(--main);
    color: black;
    /*Border*/
    border: 3px solid black;
    border-radius: 10px;
    /*Other*/
    cursor: pointer;
}
.header-button:hover{
    background-color: var(--contrast);
    transform: scale(1.1);
}

/*-------- ASIDE SECTION: DISPLAY DATA FORMS -----*/
.search-form{
    /*Border*/
    border: 3px solid black;
    border-radius: 10px;
    /*General style*/
    color: black;
    background-color: white;
    padding: 2.5%;    
    word-wrap: break-word;
}
details > summary { 
    /*Hidde arrow from summary list*/
    list-style: none;
}
summary{
    cursor: pointer;
    font-size: var(--font-size);
}
summary h3{
    margin-top: 2%;
    margin-bottom: 2%;
}
aside form{
    margin-top: 3.5%;
}

/*Inputs (class in generalStyle.css) */
.inputField{
    width: 95% !important;
    height: auto !important;
    font-size: var(--font-size) !important;
}
aside form label{
    font-size: var(--font-size);
}

/*Buttons*/
.search-button{
    /*Dimensions*/
    width: 95%;
    height: auto;
    font-size: var(--font-size);
    font-weight: bold;
    /*Border*/
    border: 2px solid;
    border-radius: 15px;
    /*Colours*/
    background-color: var(--main);
    color: black;
    border-color: black;   
    /*Other*/
    cursor: pointer;
}
.search-button:hover{
    background-color: var(--contrast);
}
.search-button:active{
    transform: scale(.9);
}

/*Text with "display" information*/
.displayed-information{
    margin-top: 50%;
    font-size: var(--font-size);
}

/*------ CHARTS --------*/
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #d7dcf3;
}
.chart-container{
    /*Dimensions*/
    width: 100%;
    height: auto;
    min-width: 500px;
    max-width: 625px;
    min-height: 350px;
    /*Internal dimensions*/
    display: grid;
    grid-template-rows: 10% 90%;
}
.category{
    max-width: 100% !important;
}
/*Title*/
.title-container{
    width: 97%;
    height: 100%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    background-color: black;
}
.chart-title{    
    font-size: var(--font-size);
    font-weight: bold;
    color: var(--main);
    margin: 0;    
    padding: 0.5%;
}
/*Chart settings*/
.chart{
    margin: 2%;
}
.canvasjs-chart-canvas{
    border: 2px solid black;
}
canvas{
    width: 100% !important;
}

/*----------- General overview data --------------*/
#overview-container{
    display: grid;
    grid-template-rows: 10% 90%;
    width: 100%;
}

/*Title*/
.overview-title-container{
    /*Position*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*Style*/
    background-color: black;
    font-size: var(--font-size);
    font-weight: bold;
    color: var(--main);
    /*Limits*/
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;   

}
.title-element{
    display: inline;
    margin-left: 1.5%;  
    margin-right: 1.5%;
}
.title-button{
    height: 90%;
    /*Dimensions*/
    font-size: calc(1rem + 1vh);
    font-weight: bold;
    /*Colours*/
    background-color: var(--main);
    color: black;
    /*Border*/
    border: 3px solid black;
    border-radius: 10px;
    /*Other*/
    cursor: pointer;
}
.title-button:hover{
    background-color: var(--contrast);
    transform: scale(1.1);
}

/*Chart*/
#overview-chart-container{
    width: 95.7%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;   
    height: 90%;
}